#order
    padding: 50px 0
    .box
        .btn
            padding: 25px 75px
            border-radius: 20px
            background-color: #53e38d
            color: #ffff
            font-size: 30px
    @media  ( max-width: 576px )
        .box
            .btn
                padding: 15px 45px
                border-radius: 5px
                background-color: #2e8852
                color: #ffff
                font-size: 20px